/* font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;400;700&display=swap");

:root {
  --primary1: #293241;
  --primary2: #3d5a80;
  --primary3: #98c1d9;
  --secondary: #e0fbfc;
  --accent: #e63946;

  --font-size: 1rem;

  --primary01: #d83f87;
  --primary02: #2a1b3d;
  --primary03: #44318d;
  --secondary01: #e98074;
  --secondary02: #a4b3b6;
  --accent01: #e63946;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

html {
  overflow-x: hidden;
}

/* jumbotron */
.jumbotron {
  height: 550px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron .jumboDesc {
  width: 100%;
  text-align: center;
  margin: auto;
}

.jumbotron .jumboDesc h1 {
  color: #ffffff;
  font-size: 3.2em;
  font-family: "Poppins";
  padding-top: 3rem;
}

.jumbotron .jumboDesc h2 {
  color: #ffffff;
  font-size: 1.6em;
  font-family: "Poppins";
}

.jumbotron-search {
  border: 2px solid var(--primary01);
  border-radius: 24px;
}

.jumbotron-search:hover {
  content: "programming language";
}

#typed {
  font-size: 4rem;
  color: #ffffff;
}

/* POST */
.user-container img {
  width: 3rem;
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.post-username {
  font-weight: bold;
}

.feedback-container button {
  border: none;
  border-radius: 12px;
}

.feedback-container button i {
  font-size: 1.5rem;
}

.category-button {
  background: var(--primary01);
  border-radius: 999px;
  box-shadow: var(--primary01) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 8px 18px;
  border: 0;
}
