:root {
  --primary1: #293241;
  --primary2: #3d5a80;
  --primary3: #98c1d9;
  --secondary: #e0fbfc;
  --accent: #e63946;

  --font-size: 1rem;

  --primary01: #d83f87;
  --primary02: #2a1b3d;
  --primary03: #44318d;
  --secondary01: #e98074;
  --secondary02: #a4b3b6;
  --accent01: #e63946;
}

body {
  background-color: var(--primary1);
  color: var(--secondary);
  font-size: var(--font-size);
}

a {
  color: var(--accent);
}

img {
  width: 64px;
  height: auto;
}

.main {
  width: 350px;
  height: auto;
}

.logo {
  max-width: 85%;
  height: auto;
}

.login {
  border: 2px double var(--secondary);
  background-color: var(--primary2);
  width: inherit;
}

.form-control {
  width: 300px;
}

.btn {
  width: 300px;
  font-size: var(--font-size);
  font-weight: bold;
}

.footer {
  width: inherit;
  background-color: var(--primary1);
}
