:root {
  --font-size: 1rem;

  --primary01: #d83f87;
  --primary02: #2a1b3d;
  --primary03: #44318d;
  --secondary01: #e98074;
  --secondary02: #a4b3b6;
  --secondary03: #e0fbfc;
  --accent01: #e63946;
  --accent02: #fbc531;
}

body {
  background-color: var(--primary02);
  color: var(--secondary03);
  font-size: var(--font-size);
}

a {
  color: var(--accent01);
}

img {
  width: 64px;
  height: auto;
}

.main {
  width: 350px;
  height: auto;
}

.logo {
  max-width: 85%;
  height: auto;
}

.login {
  border: 2px double var(--secondary02);
  background-color: var(--primary03);
  width: inherit;
}

.form-control {
  width: 300px;
}

.btn {
  width: 300px;
  font-size: var(--font-size);
  font-weight: bold;
}

.footer {
  width: inherit;
}