@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;400;700&display=swap");

:root {
  --font-size: 1rem;
  --primary01: #d83f87;
  --primary02: #2a1b3d;
  --primary03: #44318d;
  --secondary01: #e98074;
  --secondary02: #a4b3b6;
  --secondary03: #e0fbfc;
  --accent01: #e63946;
  --accent02: #fbc531;
}

.navbar {
  background-color: var(--primary02);
  font-family: "Poppins";
}

.navbar .navbar-nav .nav-link {
  color: var(--secondary03);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--accent02);
}

.navbar .navbar-brand:hover {
  opacity: 0.75;
}

.navbar .navbar-nav .active > .nav-link {
  color: var(--accent02);
}
